.footer {
  background: #fff;
  &__inner {
    height: 150px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    text-indent: -9999px;
    background: url(../../../assets/logo.svg) no-repeat;
    background-size: 150px 35px;
    height: 35px;
    width: 150px;
  }
}