@import "../../../mixins.scss";

.movie-details {
  background: #fff;
  &__item {
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 600px;
    @include mobile {
      padding: 10px;
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &_btn {
    width: 220px;
    float: right;
    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__table {
    width: 100%;
  }
  &__table-row {
    border-bottom: 1px solid #f1f1f1;
    line-height: 45px;
  }
  &__summary {
    margin-top: 20px;
    line-height: 28px;
  }
}