<div *ngIf="loader == true" class="loader">
    <div class="loader__inner">
      <div class="loader__spinner"></div>
    </div>
  </div>
<div class="movie-details">
<div class="container">
<div class="movie-details__item" *ngFor="let movie of movieDetails$ | async">
    <div class="row">
    <div class="col-12 col-sm-4 order-2 order-sm-1">
    <div class="movie-details__thumb" *ngIf="movie.image?.original">
     <img class="movie-details__img img-fluid" src={{movie.image.original}} (load)="onImgLoad()">
    </div>
    <div class="movie-details__thumb" *ngIf="!movie.image?.original">
     <img class="movie-details__img img-fluid" src="../../assets/dummy.png" (load)="onImgLoad()">
    </div>
    </div>
    <div class="col-12 col-sm-8 order-1 order-sm-2">
    <h2 class="movie-details__head">{{movie.name}}</h2>
    <table class="movie-details__table">
     <tr class="movie-details__table-row">Type: {{movie.type}}</tr>
     <tr class="movie-details__table-row">Genre: {{movie.genres}}</tr>
     <tr class="movie-details__table-row">Language: {{movie.language}}</tr>
     <tr class="movie-details__table-row">Runtime: {{movie.runtime}}</tr>
     <tr class="movie-details__table-row">Premiered: {{movie.premiered}}</tr>
     <tr class="movie-details__table-row">Status: {{movie.status}}</tr>
     <tr class="movie-details__table-row">Channel: {{movie.webChannel.name}}</tr>
    </table>
    <div class="movie-details__summary" *ngIf="movie.summary" [innerHTML]="movie.summary"></div>
    <div class="movie-details__summary" *ngIf="!movie.summary">No description</div>
    <a class="button movie-details--btn" href="{{movie.url}}" target="_blank">Details on TVMaze</a>
    </div>
    </div>
</div>
</div>
</div>