@import "mixins.scss";

body {
  font-family: Ubuntu, sans-serif;
  background: #fafafa url(assets/background.jpg) no-repeat top center;
  background-size: 100% 265px;
  @include mobile {
    background-size: auto;
  }
  @include tablet {
    background-size: auto;
  }
}
a {
  &:hover {
    text-decoration: none;
  }
}
.loader {
  &__inner {
    margin-top: -15px;
    height: 101%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    z-index: 9999;
  }
  &__spinner {
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(crimson, 0.3);
    border-top-color: crimson;
    animation: 1.5s spin infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
.button {
  background: crimson;
  color: #fff;
  transition: 0.3s;
  &:hover {
    background: #be0d30;
    color: #fff;
    transition: 0.3s;
  }
}